<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="name">Name:<input type="text" name="name" required></label>
        <br>
        <label for="lastName">Last Name:<input type="text" name="lastName" required></label>
        <br>
        <label for="email">Email::<input type="email" name="email" required></label>
        <br>
        <label for="password">Password:<input type="password" name="password" required></label>
        <br>
        <label for="confirmPassword">Confirm password:<input type="password" name="confirmPassword" required></label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>